*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body{
	background: url("profilebg.jpg");
	background-size: cover;
}

nav{
	height: 100px;
	background: #2c3e50;
	width: 100%;
}
li{
	font-family: sans-serif;
}
nav img{
	width: 180px;
	position: absolute;
	top: 10px;
	left: 1%;
}
nav ul{
	float: right;
	margin-right: 25px;
	position: relative;
	left: 0px;
	top: 0px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
}
nav ul li a{
	position: relative;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
}
nav ul li a:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s liner;
}
nav ul li a:hover:before{
	transform: scaleX(1);
	transform-origin: left;
}

.formbox{
    width:480px;
	height:580px;
	position:relative;
	top: 10px;
	left: 50px;
	margin:2% auto;
	background:#191919;
	padding:10px;
    overflow: hidden;
	border-radius: 10px;
}
.form input[type=text],.form input[type=email],.form input[type=date],.form textarea{
	font-family: sans-serif;
	border: 2px solid #3498db;
	background: none;
	display: block;
	margin: 15px 10px;
	padding: 5px 5px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 10px;
	transition: 0.25s;
}
.form input[type=text]:focus,.form input[type=email]:focus,.form input[type=date]:focus,.form textarea:focus{
	width: 250px;
	border-color: #2ecc71;
}


.form input[type=submit]{
	  background-color: black;
  border: 2px solid #008CBA;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 10px;
  cursor: pointer;
}



